{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/nullstyle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'blocktemplates/headers/header.html' %}

    <main class="main main-dicoration-conteiner">


    
<div class="section-goods">
    <div class="container">
    <div class="container-section">
        <div class="goods-advertising__img-container">
            <a href="#" class="goods-advertising__link">
                <img src="{% static 'images/advertising-img.jpg' %}" alt="" class="goods-advertising__img">
            </a>
        </div>
        <div class="mass-container-section">
            <div class="mass-section__wrapper">
                <div class="mass-section__inner">
                <h2 class="mass-purchase__title title-center title">
                    Пользовательские соглашения:
                </h2>
                <div class="mass-purchase__content-inner bg-inner user-agreements-inner">
                    <ol class="user-agreements-inner__list">
                        <li class="user-agreements-inner__item">Гарантия на товар составляет 30 минут с момента покупки, (если в описании товара ничего об этом не сказано)*ИСКЛЮЧЕНИЕ п.8В случае возникновения проблем с аккаунтами, обратитесь в поддержку магазина, мы всегда готовы разобраться в ситуации, если с момента покупки прошло более 30 минут, чем Покупатель раньше напишите, тем лучше.99,99% гарантия для возврата/замены товара, это записанное видео согласно пункту п.3.1</li>
                        <li class="user-agreements-inner__item">Возврат средств (манибек) возможен только при условии, если не имеется возможности заменить товар на аналогичный. Если доходит до манибека, и комиссия сервиса, через который будет проведен платеж, составит более 1% - комиссия будет учтена при переводе. Например, тот же киви берет 3% за перевод на иностранные кошельки.</li>
                        <li class="user-agreements-inner__item">Учтите, при обращение в поддержку с целью замены, магазин в праве потребовать видео покупки(на ЛЮБОЙ товар), так как не всегда можно выявить проблему именно с товаром, например (купоны). Запись видео - процедура необязательная, но это 100% гарантия на получение замены в случае невалида.
                            <ol class="user-agreements-inner__list">
                                <li class="user-agreements-inner__item">
                                    При записи видео покупки аккаунта нужно зафиксировать момент оплаты и выдачу товара с магазина, а затем последующею попытку авторизоваться. Копировать только через щелчок правой кнопки мышки, т.е видео, где данные копировались через CTRl+C и не принимаются.
                                    <p class="user-agreements-inner__item-ps">
                                        P.S Для особо умных: видео после покупки записывать не нужно. Нужно записать момент оплаты и входа в аккаунт. Именно в такой последовательности.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li class="user-agreements-inner__item">
                            За необдуманную покупку, ответственность несет только ПОКУПАТЕЛЬ. Возврат средств или замена товара на аналогичный с какими-то дополнительными критериями НЕВОЗМОЖНА! Все возникшие вопросы лучше уточнять до покупки у ПОДДЕРЖКИ магазина.
                        </li>
                        <li class="user-agreements-inner__item">Гарантия на использование товара, распространяется на то, что в аккаунт можно войти по логину и паролю, если в полученном товаре после покупки, содержатся данные п.5.1 их использования ОБЯЗАТЕЛЬНО!
                            <ol class="user-agreements-inner__list">
                                <li class="user-agreements-inner__item">
                                    User Agent/cookies/Fingerprint/Прокси/Токен/API/Формат определенной программы и т.п.
                                    <ol class="user-agreements-inner__list">
                                        <li class="user-agreements-inner__item">
                                            если аккаунты НЕ подходят под Ваш софт/расширение браузера и.т.д - это не является причиной для возврата/замены товара.
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li class="user-agreements-inner__item">Покупая товар, Покупатель обдуманно осознаете тот факт, что умеете с ним работать, магазин не является поставщиком этих товаров и сотрудники магазина, не занимаются обучением по использованию товара, поэтому мы НЕ сможем научить/полноценно проконсультировать по использованию товара покупателя.</li>
                        <li class="user-agreements-inner__item">Если в аккаунт можно войти через компьютер, и он является рабочим, а на другом устройстве/браузере/софте и т.д. вход ограничен или невозможен по определенным причинам, то это НЕ является причиной для возврата/замены товара, за исключением, когда товар предназначен исключительно для определенного устройства.</li>
                        <li class="user-agreements-inner__item">
                            Гарантия на товар 
                            <ol class="user-agreements-inner__list">
                                <li class="user-agreements-inner__item">
                                    Стандартная гарантия на товар — 30 минут                                  
                                </li>
                                <li class="user-agreements-inner__item">
                                    VK составляет — 10 минут
                                </li>
                                <li class="user-agreements-inner__item">
                                    ИНДИВИДУАЛЬНАЯ гарантия на товар прописывается в описании товара, если этой информации НЕТ, гарантия СТАНДАРТНАЯ п.8.1
                                </li>
                                <li class="user-agreements-inner__item">
                                    Гарантия на товар является актуальной и действительной, когда поставщик сотрудничает с магазином, если не сотрудничает, то гарантия на товар является недействительной.
                                </li>
                            </ol>
                        </li>
                        <li class="user-agreements-inner__item">
                            После покупки товара измените на нем данные (логин/пароль/почту и т.п.), чтобы избежать случайные входы от 3-их лиц, за ИСКЛЮЧЕНИЕМ п.9.19.1 ЗАПРЕЩЕНО изменять данные, где аккаунты имеют происхождения РЕАЛЬНЫЕ, например: Vpn/Киносервисы/ и т.п.9.2 Магазин НЕ несет ответственность за товар, на котором были изменены данные спустя время п.9
                        </li>
                        <li class="user-agreements-inner__item">Покупая любой товар, используйте/проверяйте СРАЗУ, не откладывая его, иначе потом Вы лишаетесь гарантии на то, что сможете получить возврат/замену товара.</li>
                        <li class="user-agreements-inner__item">Если покупатель, внес какие-либо изменения на купленном товаре, а после обратился с целью возврата/замены товара, то Покупателю может быть отказано в этом, из-за внесенных данных на аккаунте.</li>
                        <li class="user-agreements-inner__item">После получения товара, ПОКУПАТЕЛЬ обязуется сохранить товар у СЕБЯ, с возможностью дальнейшего использования, магазин НЕ является хранилищем купленного товара.12.1 В случае, если магазин выдал замену товара, покупатель ОБЯЗУЕТСЯ сохранить данный аккаунт у СЕБЯ, магазин НЕ является хранилищем по купленному товару.</li>
                        <li class="user-agreements-inner__item">Покупатель обязуется не создавать лишний флуд/спам/информацию, в сторону магазина, в противном случае магазин вправе ОТКАЗАТЬ в обслуживании на момент обращения и в дальнейшем, БЕЗ какой либо компенсации.</li>
                        <li class="user-agreements-inner__item">Магазин НЕ компенсирует покупателю, денежные средства/доп.услуги/аккаунты и т.п, которые были потрачены на покупку дополнительных услуг для использования товара.</li>
                        <li class="user-agreements-inner__item">Гарантия на товар начинается с момента получения товара в случае, если покупатель на момент покупки не обладал навыками пользования товара, это не отсрочит гарантийное время товара. п.6</li>
                        <li class="user-agreements-inner__item">Покупатель обязуется, предоставить как можно больше информации, в случае возникновения каких либо проблем с купленным товаром</li>
                        <li class="user-agreements-inner__item">Запрещено оставлять сообщение БЕЗ данных о заказе сразу после покупки, а затем прислать номер заказа/список невалида по истечении гарантийного срока.</li>
                        <li class="user-agreements-inner__item">Покупатель НЕ сможет получить замену/возврат за аккаунты, которые уже использовал, а после обратился с целью получить замену/возврата товара.</li>
                        <li class="user-agreements-inner__item">Покупателю запрещено использовать аккаунты, за которые был сделан возврат или выдана замена.</li>
                        <li class="user-agreements-inner__item">Независимо оттого, в сети поддержка магазина или нет, обращение по заказу должно быть составлено сразу при обнаружении проблемы, в ином случае Вы лишаетесь гарантии на заказ.</li>
                        <li class="user-agreements-inner__item">Использование ПРОКСИ обязательно при работе с товаром, в ином случае магазин имеет право отказать в рассмотрение заказа с дальнейшем отказом в замене/возврате товара</li>
                        <li class="user-agreements-inner__item">Платежи проведенные в ручном режиме, не могут быть возвращены на реквизиты отличающиеся при оплате, решение о таком платеже принимает Администрации сервиса, вплоть до отказа зачислении денежных средств.
                            <ol class="user-agreements-inner__list">
                                <li class="user-agreements-inner__item">Оплата при помощи других людей, различных ботов/сервисов и им подобных средств для совершения платежа не является исключением пункта 22 , вся ответственность при таких платежах лежит на покупателе, и денежные средства могут быть НЕ зачислены и НЕ возвращены покупателю.</li>
                            </ol>
                        </li>
                        <li class="user-agreements-inner__item">Вывод денежных средств с баланса Личного кабинета не производится.</li>
                        
                        
                    </ol>
                    <div class="user-agreements-inner__footer user-agreements-inner__item-ps">
                        P.S. Незнание правил не освобождает от ответственности.
                    </div>
                </div>
            </div>
            </div>
            
        </div>
    </div>
   
    </div>
    </main>
    

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>









