{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/nullstyle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
        {% include 'blocktemplates/headers/header.html' %}

       <main class="main">



        <div class="section-goods">
            <div class="container-section">
                <div class="goods-advertising__img-container">
                    <a href="#" class="goods-advertising__link">
                        <img src="{% static 'images/advertising-img.jpg' %}" alt="" class="goods-advertising__img">
                    </a>
                </div>
                <div class="goods-wrapper tg-goods-wrapper">
                    <form class="goods-form goods-tg-form" method="get" id="acc-filter-form">
                        <div class="goods-form__container">
                            <div class="goods-form__column">
                                <div class="goods-form__inner">
                                    <div class="goods-form__price form-tabel --margin">
                                        <div class="area-inner form-tabel-item">
                                            <span></span>
                                            <input type="number" form="acc-filter-form" placeholder="Цена от" class="goods-form__input-price all-input" name="price_min">
                                            <p class="price-acc" id="rub">₽</p>
                                        </div>

                                        <div class="area-inner form-tabel-item">
                                            <span></span>
                                            <input type="number" form="acc-filter-form" placeholder="До" class="goods-form__input-price all-input" name="price_max">
                                            <p class="price-acc" id="rub">₽</p>
                                        </div>
                                    </div>
                                    <div class="goods-form__country area-inner all-select-container --margin">
                                        <button class="goods-form__select all-select all-select__country select-all-area">
                                            Страна
                                        </button>
                                        <ul class="select-all-list">
                                            <li class="select-all-list__item --dropdown-close" data-name="Страна">Не важно</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">AE</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">AO</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">AR</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">BD</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">BG</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">BI</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">BY</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">CM</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">CN</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">CO</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">CU</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">CZ</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">DE</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">EC</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">ET</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">GB</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">GE</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">GH</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">GT</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">HN</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">HT</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">ID</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">IN</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">IT</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">KE</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">KG</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">LK</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">LY</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">MA</li>
                                            <li class="select-all-list__item" data-item-value="countryName" data-item-name="country">MD</li>
                                        </ul>
                                    </div>
                                    <div class="goods-form__country area-inner all-select-container --margin">
                                        <button class="goods-form__select all-select select-all-area select-no-multiple-choice --no-submit" data-select="select-all-area">
                                            <input type="text" data-id="1" name="mail" class="input-hidden" value="">
                                            <p class="select-all-item">Доступ к почте</p>
                                        </button>
                                        <ul class="select-all-list">
                                            <li class="select-all-list__item --add-name --dropdown-close" data-name="mail">Доступ к почте</li>
                                            <li class="select-all-list__item" data-item-value="AUTO" data-name="mail">Авторег</li>
                                            <li class="select-all-list__item" data-item-value="ORIGINAL" data-name="mail">Родная</li>
                                            <li class="select-all-list__item" data-item-value="NO" data-name="mail">Без доступа к почте</li>
                                    </div>
                                    <div class="goods-form__acc-origin acc-origin-tg area-inner --margin">
                                        <span></span>
                                        <input type="text" placeholder="Почтовый домен" class="all-input" name='mail_domain'>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-form__column">
                                <div class="goods-form__inner">
                                    <div class="goods-form__id-search area-inner --margin">
                                        <span></span>
                                        <input type="text" placeholder="Поиск по ID продавца" class="goods-form__id-search-input all-input" name="seller">
                                    </div>
                                    <div class="gods-form__container --margin">
                                        <div class="goods-form__subscribers form-tabel --margin">
                                            <div class="area-inner form-tabel-item">
                                                <span></span>
                                                <input type="number" placeholder="Подписчиков, от" class="goods-form__input-subscribers all-input" name="sub_min">
                                            </div>

                                            <div class="area-inner form-tabel-item">
                                                <span></span>
                                                <input type="number" placeholder="Подписчиков, до" class="goods-form__input-subscribers all-input" name="sub_max">
                                            </div>
                                        </div>
                                        <div class="goods-form__subscribers form-tabel --margin">
                                            <div class="area-inner form-tabel-item">
                                                <span></span>
                                                <input type="number" placeholder="Постов, от" class="goods-form__input-subscribers all-input" name="posts_min">
                                            </div>

                                            <div class="area-inner form-tabel-item">
                                                <span></span>
                                                <input type="number" placeholder="Постов, до" class="goods-form__input-subscribers all-input" name="posts_max">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="radio-box --margin">
                                        <h5 class="radio-box__title">Cookies</h5>
                                        <ul class="goods-form__list-premium radio-box-list">
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <span></span>
                                                <input class="input-hidden" type="radio" id="cookies-1" checked name="cookies" value="">
                                                <label for="cookies-1" class="goods-form__list-item-label all-input">Не важно</label>
                                            </li>
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <span></span>
                                                <input type="radio" class="input-hidden" id="cookies-2" name="cookies" value="False">
                                                <label for="cookies-2" class="goods-form__list-item-label all-input">Нет</label>
                                            </li>
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <span></span>
                                                <input type="radio" class="input-hidden" id="cookies-3" name="cookies" value="True">
                                                <label for="cookies-3" class="goods-form__list-item-label all-input">Да</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="radio-box --margin">
                                        <h5 class="radio-box__title">Можно войти в аккаунт без Cookies</h5>
                                        <ul class="goods-form__list-premium radio-box-list">
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <span></span>
                                                <input class="input-hidden" type="radio" id="login-cookies-1" checked name="ent_no_cookies" value="">
                                                <label for="login-cookies-1" class="goods-form__list-item-label all-input">Не важно</label>
                                            </li>
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <span></span>
                                                <input type="radio" class="input-hidden" id="login-cookies-2" name="ent_no_cookies" value="False">
                                                <label for="login-cookies-2" class="goods-form__list-item-label all-input">Нет</label>
                                            </li>
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <span></span>
                                                <input type="radio" class="input-hidden" id="login-cookies-3" name="ent_no_cookies" value="True">
                                                <label for="login-cookies-3" class="goods-form__list-item-label all-input">Да</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-form__column">
                                <div class="goods-form__inner">
                                    <div class="goods-form__button-submit --margin">
                                        <button class="goods-form__button-submit-btn" type="submit">
                                            Показать ~ <span class="goods-form__button-submit-span">{{ filter.qs.count }}</span> аккаунтов
                                        </button>
                                    </div>
                                    <div class="radio-box --margin">
                                        <h5 class="radio-box__title">Привязка к телефону</h5>
                                        <ul class="goods-form__list-pass radio-box-list">
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <span></span>
                                                <input class="input-hidden"  type="radio" id="binding_phone-1" checked name="binding_phone" value="">
                                                <label for="binding_phone-1" class="goods-form__list-item-label radio all-input">Не важно</label>
                                            </li>
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <span></span>
                                                <input type="radio" class="input-hidden" id="binding_phone-2" name="binding_phone" value="False">
                                                <label for="binding_phone-2" class="goods-form__list-item-label all-input">Нет</label>
                                            </li>
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <span></span>
                                                <input type="radio" class="input-hidden" id="binding_phone-3" name="binding_phone" value="True">
                                                <label for="binding_phone-3" class="goods-form__list-item-label all-input">Да</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="radio-box --margin">
                                        <h5 class="radio-box__title">Регистрация</h5>
                                        <ul class="goods-form__list-spamblock radio-box-list">
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <span></span>
                                                <input class="all-input" type="number" placeholder="X..." id="acc-reg_time" name="acc-reg_time">
                                            </li>
                                            <li class="goods-form__list-item area-inner --margin-l">
                                                <div class="--margin all-select-container">
                                                    <button class="goods-form__select all-select select-all-area select-no-multiple-choice --no-submit" data-select="'select-all-area">
                                                        <input type="text" data-id="1" name="reg_time" class="input-hidden" value="Лет назад">
                                                        <p class="select-all-item">Лет назад</p>
                                                    </button>
                                                    <ul class="select-all-list">
                                                        <li class="select-all-list__item --add-name --dropdown-close" data-name="reg_time">Лет назад</li>
                                                        <li class="select-all-list__item" data-item-value="reg_time_name" data-name="reg_time">Месяцев назад</li>
                                                        <li class="select-all-list__item" data-item-value="reg_time_name" data-name="reg_time">Дней назад</li>
                                                        <li class="select-all-list__item" data-item-value="reg_time_name" data-name="reg_time">Часов назад</li>
                                                        <li class="select-all-list__item" data-item-value="reg_time_name" data-name="reg_time">Минут назад</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

            <div class="goods-acc__container">
                <div class="goods-label">
                    <picture><source srcset="{% static 'images/inst-icon-acc.webp' %}" type="image/webp"><img class="goods-label-img tg-goods-label-img" src="{% static 'images/inst-icon-acc.png' %}" alt=""></picture>
                    Instagram
                </div>


                <ul class="goods-list tg-goods-list">

                    {% for product in filter.qs %}

                    <li class="goods-list-item InstSpam-goods-item">
                        <div class="goods-list-item-about">
                            <div class="goods-list-item-icon InstSpam-goods-item-icon">
                                <picture><source srcset="{% static 'images/inst-icon-acc.webp' %}" type="image/webp"><img src="{% static 'images/inst-icon-acc.png' %}" alt="" class="goods-list-item-icon-img acc-goods-item-icon-img"></picture>
                            </div>
                            <div class="goods-list-item__column-text">
                                {{ product.name }}
                            </div>
                        </div>

                        <div class="goods-list-item__column">
                            <div class="goods-list-item__quantity goods-list-item__column-item --margin-l"><span class="goods-list-item__quantity-num">{{ product.stock }}</span> шт.</div>
                            <div class="goods-list-item__price goods-list-item__column-item --margin-l"><span class="goods-list-item__price-num">${{ product.price }}</span> ₽</div>
                            <div class="token --margin-l">{% csrf_token %}</div>
                            <button class="goods-list-item__btn goods-list-item__column-item --margin-l tg-goods-list-item__btn" data-popup="popup-buy">Купить</button>
                        </div>

                    </li>
                {% endfor %}
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
       </main>
       <div class="popup-buy popup-wrapper popup__container --popup">
        <div class="popup__content-inner">
            <div class="popup__content-top">
                <h4 class="popup-title">Оплата товара</h4>
                <button class="popup__btn-close" data-close="popup-buy"></button>
            </div>

            <form action="#" method="post" class="popup__inner buy-popup__form popup-column-wrapper">
                <div class="buy-popup__form-inner">
                    <div class="popup-column">
                        <h5 class="popup-buy-title popup-subtitle">Цена</h5>
                        <div class="popup-buy-price popup-area--all"><span class="popup-buy-price-container-num"><input class="popup-buy-price-num popup-buy-price-num-default" type="text" readonly value="" name="buy-price"></span> <cpan class="popup-buy-price-currency">₽</cpan></div>

                    </div>
                    <div class="popup-column">
                        <div class="popup-column__item">
                            <h5 class="popup-buy-title popup-subtitle">Кол-во</h5>
                            <div class="popup-counter counter-wrapper popup-area--all">
                                <button class="items__control" data-action="minus">-</button>
                                <div class="counter-num-wrapper"><input type="number" class="items__current" value="1" name="buy-quantity"></div>
                                <div class="counter-max-num-container">шт.<span class="counter-max-num-wrapper">1</span></div>
                                <button class="items__control" data-action="plus">+</button>
                            </div>
                        </div>
                        <div class="popup-column__item">
                            <h5 class="popup-buy-title popup-subtitle">Тип аккаунта</h5>
                            <div class="popup-buy-tag__container">
                                <input type="text" readonly class="popup-buy-tag popup-area--all" value="Фишинг">
                            </div>
                        </div>
                    </div>
                </div>
                <p class="popup-buy__content-text">

                </p>
                <button class="popup-buy__content-btn">Оплатить</button>
            </form>
        </div>
       </div>



    <div class="error-container">
        <div class="error-wrapper">
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>